
#headerDiv{
    background-color: rgb(228, 243, 255);    
    margin: 0;
}

#mainDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;   
}
#actionsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#actionsDiv button{
    text-align: center;
    border: none;
    margin: 10px;
    background-color: aliceblue;
}

#thinkButton{
    font-size: x-large;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

input{
    font-size: larger;
}

#actionsDiv button:hover{
    transform: scale(1.1);
    transition-duration: 100ms;
    background-color: rgb(222, 238, 252);
}
#actionsDiv label{
    font-size: large;
    margin-top: 8vh;
    margin-bottom: 10px;
}

#chatHistory{
    flex-grow: 1;
    border-radius: 50px;
    background-color: rgba(228, 228, 228, 0.464);
}

#footerDiv{
    font-size: small;
}